.vfp-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-font {
  font-family: "DejaVu Sans Condensed", "DejaVu Sans", sans-serif;
}

.title-font {
  /* TODO: add charterregular files */
  font-family: "charterregular", serif;
}

main {
  max-width: 120ch;
  width: 70vw;
}

main>.pseudo-image {
  width: 100%;
  height: 40ch;
  /* Thanks, https://2.flexiple.com/scale/all-illustrations, Get personalised product recommendations */
  background-image: url("/static/KeyVisual.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.file-drop {
  width: 100%;
  height: 40ch;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#fileInput {
  width: 100%;
}

.output-video {
  width: 100%;
}
.output-video>img {
  width: 100%;
}
#projectLayout {
  display: grid;
  grid-template-columns: minmax(66%, 2fr) minmax(33%, 1fr);
  column-gap: 1ch;
}
#pageListSidebar {
  max-height: 90vh;
  width: 100%;
  overflow-y: auto;
}
.page-preview,.page-preview>img {
  height: 6em;
}
.page-audio-indicator.page-audio-yes {
  display: block;
}
.page-audio-indicator.page-audio-no {
  display: none; 
}
